<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Company_DataBase.Properties.Settings.CompanyConnectionString"
            connectionString="Data Source=DESKTOP-5V4FCOT\SQLEXPRESS;Initial Catalog=Company;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>